:global(.main-wrapper) {
  display: flex;
  flex-direction: column;
}

.main {
  --construction-height: 192px;

  position: relative;
  flex-grow: 1;
  padding-bottom: calc(var(--construction-height) + 2rem);
}

.main::after {
  content: "";

  --src: url(/img/construction.webp);
  --width: 450px;
  --height: var(--construction-height);

  position: absolute;
  bottom: -10px;
  left: 0;

  display: block;
  width: 100%;
  height: var(--height);
  margin: 0 auto;

  background-image: var(--src);
  background-size: var(--width) var(--height);
  background-position: center;
  background-repeat: no-repeat;

  pointer-events: none;
}
